.mapFloat {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes animate-map-float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.malta-glow {
  0% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 0, 0, 0.9);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  }
}

@keyframes animate-malta-glow {
  0% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 0, 0, 0.9);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  }
}

.delay-1000 {
  animation-delay: 1s;
}